<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd">
    <extensions>
      <add assembly="NLog.Targets.Loggly" />
    </extensions>
    <targets>
      <target name="logfile" xsi:type="File" fileName="${tempdir}/SkaterMusicPlayerlog ${shortdate}.txt" layout="${machinename}|${assembly-version}|${longdate}|${level:padding=-5}|${logger:padding=-30}|${message}|${all-event-properties:format=[key]=[value]}|${exception:format=@}" maxArchiveDays="14" />
      <target name="Loggly" xsi:type="Loggly" layout="${message}" applicationName="SkaterMusicPlayer" customerToken="94cfe9b3-1b76-4098-9ddd-a096d360e2d4" endpointHostname="logs-01.loggly.com" endpointPort="443" logTransport="https">
        <contextproperty name="HostName" layout="${machinename}" />
        <contextproperty name="AssemblyVersion" layout="${assembly-version}" />
        <contextproperty name="applicationName" layout="SkaterMusicPlayer" />
      </target>
      <target name="syslog-tcp" xsi:type="Syslog">
        <sl:layout xsi:type="SimpleLayout" text="@log: {&quot;message&quot;: &quot;${message}&quot;}" />
        <sl:messageCreation>
          <sl:facility>Local1</sl:facility>
          <sl:rfc>Rfc5424</sl:rfc>
          <sl:rfc5424>
            <sl:hostname xsi:type="SimpleLayout" text="${machinename}" />
            <sl:appName xsi:type="SimpleLayout" text="${logger}/${assembly-version}" />
            <sl:procId xsi:type="SimpleLayout" text="${processid}" />
            <sl:msgId xsi:type="SimpleLayout" text="${threadid}" />
            <sl:disableBom>true</sl:disableBom>
          </sl:rfc5424>
        </sl:messageCreation>
        <sl:messageSend>
          <sl:protocol>tcp</sl:protocol>
          <sl:tcp>
            <sl:server>diskstation.jonsson.online</sl:server>
            <sl:port>5014</sl:port>
            <sl:reconnectInterval>3</sl:reconnectInterval>
          </sl:tcp>
        </sl:messageSend>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Info" writeTo="syslog-tcp" />
      <logger name="*" minlevel="Debug" writeTo="Loggly" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PauseMusicEnabled" value="true" />
    <add key="PauseMusicDelay" value="20" />
    <add key="PauseVolume" value="0,1779" />
    <add key="WarmupMusicDirectory" value=".\WarmupMusic" />
    <add key="BreakMusicDirectory" value=".\BreakMusic" />
    <add key="MusicLookup" value="
{LastName} {FirstName} {Club} {BirthdayYYYYMMDD} {Segment}.mp3
{FirstNameDash}_{LastNameDash}_{BirthdateYYYYMMDD}xxxx_{ID}_{SegmentSWE}.mp3
{LastName} {FirstName} {Club} {Segment}.mp3
{FirstName}_{LastName}_{BirthdateYYYYMMDD}_{ID}_{SegmentSWE}.mp3
{FirstNameDash}_{ID}_{SegmentSWE}.mp3
{FirstNameDash}_{ID}_Fridans.mp3
" />
  </appSettings>
</configuration>
