<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="loggly-csharp" version="4.6.1.116" targetFramework="net481" />
  <package id="loggly-csharp-config" version="4.6.1.116" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.10" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="MySqlConnector" version="2.4.0" targetFramework="net48" />
  <package id="NAudio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="NLog" version="6.0.5" targetFramework="net481" />
  <package id="NLog.Schema" version="6.0.5" targetFramework="net481" />
  <package id="NLog.Targets.Loggly" version="4.8.63" targetFramework="net481" />
  <package id="NLog.Targets.Syslog" version="7.0.0" targetFramework="net481" />
  <package id="NLog.Targets.Syslog.Schema" version="7.0.0" targetFramework="net481" />
  <package id="Polly.Contrib.WaitAndRetry" version="1.1.1" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.10" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
</packages>